.timelineContainer {
  /* width: 50%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.timelineContainer > button {
  text-transform: capitalize;
  color: #fff;
  background-color: green;
}
