.comment {
  display: flex;
  flex-direction: column;
}

.showRepliesBtn,
.hideRepliesBtn {
  background-color: var(--app-light-blue);
  color: #fff;
  align-self: center;
}

.replies {
  border-left: 0.25rem solid var(--app-light-blue);
  padding-left: 1.75rem;
}

.hidden {
  display: none;
}
