.addCommentBtn {
  background-color: green;
  color: #fff;
  align-self: flex-end;
}

.addCommentForm {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content;
  grid-template-rows: max-content;
  grid-template-areas: 'input file submit cancel';
  align-items: center;
  grid-gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.addCommentForm > .textInput {
  grid-area: input;
}

.addCommentForm > .fileInput {
  grid-area: file;
}

.addCommentForm > .submitBtn {
  grid-area: submit;
  background-color: rgb(0, 145, 255);
  color: #fff;
}

.addCommentForm > .cancelBtn {
  grid-area: cancel;
  background-color: #666;
  color: #fff;
}
