.addReplyBtn {
  background-color: var(--app-green);
  color: #fff;
  align-self: flex-end;
}

.addReplyForm {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content;
  grid-template-rows: max-content;
  grid-template-areas: 'input file submit cancel';
  align-items: center;
  grid-gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.addReplyForm > .textInput {
  grid-area: input;
}

.addReplyForm > .fileInput {
  grid-area: file;
}

.addReplyForm > .submitBtn {
  grid-area: submit;
  background-color: var(--app-light-blue);
  color: #fff;
}

.addReplyForm > .cancelBtn {
  grid-area: cancel;
  background-color: var(--app-medium-grey);
  color: #fff;
}
