.formContainer {
  width: 500px;
  background-color: var(--app-very-light-grey);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-top: 10rem; */
}

.addFriendForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addFriendForm > .inputContainer {
  display: flex;
  flex-direction: column;
}

.addFriendForm > .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.addFriendForm > .buttonContainer > button[type='submit'] {
  background-color: var(--app-green);
  color: #fff;
}

.addFriendForm > .buttonContainer > button {
  background-color: var(--app-medium-grey);
}

.addFriendForm > label {
  font-size: 0.75rem;
}

.addFriendForm > button {
  margin-top: 0.5rem;
  align-self: center;
  text-transform: capitalize;
}

.searchResults {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.searchResults > * {
  background-color: #fff;
}

.noResultsMsg {
  font-size: 1.5rem;
  text-align: center;
}
