.addPostContainer,
.addPostContainer > form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.addPostContainer button {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-transform: capitalize;
}

.addPostContainer button[type='submit'] {
  background-color: green;
}

.addPostContainer button[type='button'] {
  background-color: #555;
}
