.friendContainer {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    'avatar username'
    'name name'
    'email email'
    'bio bio'
    '. button';
  grid-gap: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.friendContainer .avatar {
  grid-area: avatar;
  width: 5rem;
  height: 5rem;
  border-radius: 1000px;
  object-fit: cover;
}

.friendContainer .username {
  grid-area: username;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  font-weight: normal;
}

.friendContainer .name {
  grid-area: name;
}

.friendContainer .email {
  grid-area: email;
}

.friendContainer .bio {
  grid-area: bio;
}

.friendContainer > .removeButton {
  grid-area: button;
  font-size: 0.75rem;
  background-color: var(--app-warning-red);
  color: #fff;
  justify-self: end;
  text-transform: capitalize;
}
