.notification {
  background-color: var(--app-light-blue);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.25);
  transition: all 1500ms ease-in-out;
  z-index: 10;
}

.notification > p {
  font-size: 1.25rem;
}

.notification.preEnter,
.notification.exiting,
.notification.exited {
  /* opacity: 0; */
  transform: translateX(200%);
}

/* .notification.exited {
  display: none;
} */
