.post {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
  width: 500px;
}

.post,
.comments,
.replies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Top row of post */

/* .postEditForm, */
/* .addCommentForm, */
.commentContent,
.commentEditForm,
.addReplyForm,
.replyContent,
.replyEditForm {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comments,
.replies {
  padding-left: 1rem;
  padding-top: 1rem;
}

.commentContent,
.replyContent {
  padding-left: 1rem;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.post button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}
