/* .post {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto auto;
  grid-template-areas:
    'post editBtn addBtn'
    'form form form'
    'comments comments comments'
    'replies replies replies';
  grid-gap: 1rem;
  align-items: center;
}

.post > p,
.post .postEditForm {
  grid-area: post;
}

.post .postEditForm label {
  text-transform: none;
}

.post button {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  justify-self: end;
  text-transform: capitalize;
  color: #fff;
  background-color: rgb(0, 119, 255);
}

.post .editBtn {
  grid-area: editBtn;
}

.post .addBtn {
  grid-area: addBtn;
}

.post .comments {
  grid-area: comments;
}

.post > .replies {
  grid-area: replies;
}

.post > form {
  grid-area: form;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.post > form > button[type='submit'] {
  background-color: green;
}

.post > form > button[type='button'] {
  background-color: #555;
}

.post .replies {
  margin-left: 2rem;
} */

.post,
.comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Top row of post */
.postContent,
.postEditForm,
.addCommentForm,
.commentContent,
.commentEditForm {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .postEditForm {
  display: flex;
  align-items: center;
  gap: 1rem;
} */

/* Middle row of post */
.post > .addBtn {
  background-color: rgb(0, 145, 255);
  color: #fff;
  align-self: flex-start;
}

/* Bottom row of post */
/* .addCommentForm {
  display: flex;
  align-items: center;
  gap: 1rem;
} */

/* .comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */

/* Inside bottom row */
/* .commentContent {
  display: flex;
  align-items: center;
  gap: 1rem;
} */

/* .commentEditForm {
  display: flex;
  align-items: center;
  gap: 1rem;
} */
