:root {
  --heading-font-size: clamp(0.75rem, 8vh, 4rem);
  --heading-top-margin-size: clamp(0.5rem, 4vh, 3rem);
  --title-bottom-margin: clamp(0.5rem, 4vh, 2rem);
}

.welcomeContainer {
  align-self: stretch;
  background-color: var(--app-light-blue);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeContainer * {
  color: #fff;
  font-weight: normal;
}

.welcomeHeading {
  /* font-size: 4rem; */
  font-size: calc(var(--heading-font-size) * 2 / 3);
  margin-top: var(--heading-top-margin-size);
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: var(--title-bottom-margin);
}

.title > svg {
  font-size: calc(var(--heading-font-size) * calc(5 / 3));
}

.title > h1 {
  font-size: var(--heading-font-size);
}

.welcomeDescription {
  font-size: calc(var(--heading-font-size) * 1 / 3);
  margin-bottom: var(--title-bottom-margin);
  max-width: 40rem;
  text-align: center;
}
