.profilePage {
  background-color: #fafafa;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 2rem;
  width: 500px;
  gap: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.profileContainer * {
  font-size: 1.5rem;
}

.profileContainer > img {
  height: 10rem;
  width: 10rem;
  border-radius: 1000px;
  object-fit: cover;
}

.profileContainer button {
  font-size: 1rem;
  text-transform: capitalize;
  background-color: var(--app-light-blue);
  color: #fff;
}

.profileForm {
  max-width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.profileForm > label {
  font-size: 0.8rem;
}

.profileForm > input,
.profileForm > textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(187, 187, 187);
}

.profileForm button {
  text-transform: capitalize;
  align-self: center;
  margin-bottom: 1rem;
}

.profileForm button[type='submit'] {
  color: #fff;
  background-color: green;
}
