.addPostContainer,
.addPostContainer > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
}

.addPostContainer > h3 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: normal;
  align-self: center;
}

.addPostContainer > form > input,
.addPostContainer > form > div {
  width: 100%;
  margin-bottom: 1rem;
}

.addPostContainer > form > .btnContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.addPostContainer button {
  color: #fff;
  text-transform: capitalize;
}

.addPostContainer button[type='submit'] {
  background-color: var(--app-green);
}

.addPostContainer button[type='button'] {
  background-color: var(--app-medium-grey);
}
