.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page {
  background-color: #fafafa;
}

label {
  text-transform: capitalize;
  font-size: 0.7rem;
  /* margin-left: 0.65rem; */
}

button {
  padding: 0.5rem 1rem;
  /* border-radius: 1000px; */
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  text-transform: capitalize;
}

input {
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(180, 180, 180);
}

button {
  border: none;
  color: #fff;
}

input:focus {
  box-shadow: 0.05rem 0.05rem 0.15rem rgba(0, 0, 0, 0.25) inset;
  outline: none;
}

button:hover,
button:focus {
  box-shadow: 0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.25);
  outline: none;
}

button:active {
  box-shadow: none;
}
