.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.profilePage,
.networkPage,
.timelinePage,
.feedPage {
  background-color: #fafafa;
}

label {
  text-transform: capitalize;
  font-size: 0.7rem;
  margin-left: 0.65rem;
}

button {
  padding: 0.5rem 1rem;
  /* border-radius: 1000px; */
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
}

input {
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(180, 180, 180);
}

button {
  border: none;
}

input:focus,
button:hover,
button:focus {
  box-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.259);
}

button:active {
  box-shadow: none;
}
